.light .wrapper form .form-box {
    border-color: rgb(212, 212, 212);
}

.light .wrapper form .form-box .input-fields .token-select-false, .token-select-true {
    border: 2px solid rgba(128, 128, 128, 0.178);
}

.light .wrapper form .swap-icon {
    border: 2px solid rgb(212, 212, 212);
    background-color: white;
}

.light .wrapper form .swap-icon:hover {
    background-color: rgb(242, 242, 242);
}

